<main class="container mt-5 pt-1 col-8">
    {{#each posts as |post|}}
    <section class="post my-5">
        <div class="post-title row">
            <div class="col-6">
                <h2 class="title"><a href='/api/posts/{{post.id}}'>{{post.title}}</a></h2>
            </div>
            <div class="col-6">
                <p class="m-0 text-end">Posted by {{post.User.username}} on {{post.date_created}}</p>
            </div>
        </div>
        <div class="post-body row mt-2">
            <div class="col-12">
                <p>{{post.content}}</p>
            </div>
        </div>
    </section>
    {{/each}}
</main>