<main class="container mt-5 pt-1 col-8">
    <section class="post my-5">
        <div class="post-title row">
            <div class="col-6">
                <h2 class="title">{{post.title}}</h2>
            </div>
            <div class="col-6">
                <p class="m-0 text-end">Posted by {{post.User.username}} on {{post.date_created}}</p>
            </div>
        </div>
        <div class="post-body row">
            <div class="col-12">
                <p>{{post.content}}</p>
            </div>
        </div>
        <div class="row">
            <button type="button" class="buttons col-2 mx-auto" data-bs-toggle="modal" data-bs-target="#modal-form">
            Add a Response
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modal-form" tabindex="-1" aria-labelledby="modal-form-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modal-form-label">Add Your Response</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="comment-modal-form">
                            <textarea name="response" id="response" cols="40" rows="5"></textarea>
                        </form>
                        <p class="text-center" id="commentModalResponse"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="addCommentBtn" class="buttons mx-auto" value={{post.id}}>Add</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="comments mt-5">
        {{#each comments as |comment|}}
        <section class="comment mt-3">
            <div class="comment-title row">
                <div class="col-4 offset-2">
                    <h2 class="title text-white-50">Response from {{comment.User.username}}</h2>
                </div>
                <div class="col-4">
                    <p class="m-0 text-white-50 text-end">Posted on {{comment.date_created}}</p>
                </div>
            </div>
            <div class="comment-body row mt-3">
                <div class="col-8 offset-2">
                    <p class="m-0 text-white-50">{{comment.comment_text}}</p>
                </div>
            </div>
        </section>
        {{/each}}
    </section>
</main>
<script src="/js/add-comment.js"></script>